<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link
      rel="stylesheet"
      href="./assets/style/vender/bootstrap/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <div class="d-flex wrapper">
      <nav class="sidebar">
        <div class="logo">
          <img src="./assets/images/logo-ANSWER.svg" alt="">
          </div>
        <ul>
          <li>
            <a href="">
              <span class="material-icons mr-xl-3 mr-3 ml-0">
                insert_chart    
            </span>
            <span>
              Dashboard
            </span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="material-icons mr-xl-3 mr-3 ml-0">
                question_answer
            </span>
              <span>Question</span>
              </a>
          </li>
          <li  class="active">
            <a href="">
              <span class="material-icons mr-xl-3 mr-3 ml-0">
                assignment
            </span>
              <span>Assignment</span>
              </a>
          </li>
          <li>
            <a href="">
              <span class="material-icons mr-xl-3 mr-3 ml-0">
                video_library
            </span>
              <span>Course</span>
              </a>
          </li>
          <li>
            <a href="">
              <span class="material-icons mr-xl-3 mr-3 ml-0">
                supervisor_account
            </span>
              <span>Admin</span>
              </a>
          </li>
          <li>
            <a href="">
              <span class="material-icons mr-xl-3 mr-3 ml-0">
                settings</span>
              <span>Settings</span>
            </a>

          </li>
        </ul>
        <div class="user-profile d-flex">
          <div class="avatar">
            <img src="./assets/images/andychen.jpeg" alt="">
          </div>
          <div class="text">
            <h4 class="name">Andy Chen</h4>
            <p>andy0401@mail.com</p>
          </div>
        </div>
      </nav>
      <div>
        <%- contents %>

      </div>
    </div>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
